
.body{
    font-family: sans-serif !important;
}
.bg-light{
    background: #45619D !important;
}

.navbar-light .navbar-brand{
    color:#fff !important;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
.top-margin{
    margin-top: 50px;
}
.card{
    border: none !important;
    background: #FBFCFD !important;
}
.btn-primary{
    background: #5870A8;
    background-image: -webkit-linear-gradient(top, #637BAD, #4F67A4);
    border: 1px solid #1D3871;
    cursor: pointer;
}

/* side bar */

.grey-bg{
    background: #e9ebee;
}
.nav>.nav-item>.nav-link{
    color: #000;
}
.nav>.nav-item>.nav-link:hover, .active{
    background: #f1f1f1;
    font-weight:bold;
    cursor: pointer;
    border: 1px solid #eee;
    color: #000;
}

/* card style */

.card> .card-body> .card-title{
    color:#23527c !important;
}
.card>.card-footer{
    background: none;
}